<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shensu.dao.RecipesTypeMapper">

  <resultMap id="BaseResultMap" type="com.shensu.pojo.RecipesType">
    <id column="recipesTypeId" jdbcType="INTEGER" property="recipestypeid" />
    <result column="recipesTypeCreatTime" jdbcType="VARCHAR" property="recipestypecreattime" />
    <result column="recipesTypeName" jdbcType="VARCHAR" property="recipestypename" />
    <result column="recipesTypeState" jdbcType="INTEGER" property="recipestypestate" />
    <result column="recipseTypeImg" jdbcType="VARCHAR" property="recipsetypeimg" />

    <!-- 食谱集合 -->
    <collection property="recipesList"  column="recipesTypeId" select="findRecipes">
  
   	</collection>

  </resultMap>
  
  <resultMap id="BaseResultMap1" type="com.shensu.pojo.Recipes">
    <id column="recipesId" jdbcType="INTEGER" property="recipesid" />   
    <collection property="recipesSwiper" column="recipesId" javaType="java.util.List"  ofType="com.shensu.pojo.RecipesSwiper" select="findByRecipesId">
    <id column="recipesSwiperId" jdbcType="INTEGER" property="recipesswiperid" />
    <result column="recipesSwiperImg" jdbcType="VARCHAR" property="recipesswiperimg" />
    <result column="recipesId" jdbcType="INTEGER" property="recipesid" />
    <result column="recipesSwiperCreatTime" jdbcType="VARCHAR" property="recipesswipercreattime" />
    </collection>
  </resultMap>
  
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    recipesTypeId, recipesTypeCreatTime, recipesTypeName, recipesTypeState, recipseTypeImg
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select 
    <include refid="Base_Column_List" />
    from RecipesType
    where recipesTypeId = #{recipestypeid,jdbcType=INTEGER}
  </select>
  
  <insert id="insert" parameterType="com.shensu.pojo.RecipesType">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into RecipesType (recipesTypeId, recipesTypeCreatTime, 
      recipesTypeName, recipesTypeState, recipseTypeImg
      )
    values (#{recipestypeid,jdbcType=INTEGER}, #{recipestypecreattime,jdbcType=VARCHAR}, 
      #{recipestypename,jdbcType=VARCHAR}, #{recipestypestate,jdbcType=INTEGER}, #{recipsetypeimg,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective1" parameterType="com.shensu.pojo.RecipesType">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into RecipesType
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recipestypeid != null">
        recipesTypeId,
      </if>
      <if test="recipestypecreattime != null">
        recipesTypeCreatTime,
      </if>
      <if test="recipestypename != null">
        recipesTypeName,
      </if>
      <if test="recipestypestate != null">
        recipesTypeState,
      </if>
      <if test="recipsetypeimg != null">
        recipseTypeImg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recipestypeid != null">
        #{recipestypeid,jdbcType=INTEGER},
      </if>
      <if test="recipestypecreattime != null">
        #{recipestypecreattime,jdbcType=VARCHAR},
      </if>
      <if test="recipestypename != null">
        #{recipestypename,jdbcType=VARCHAR},
      </if>
      <if test="recipestypestate != null">
        #{recipestypestate,jdbcType=INTEGER},
      </if>
      <if test="recipsetypeimg != null">
        #{recipsetypeimg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shensu.pojo.RecipesType">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update RecipesType
    <set>
      <if test="recipestypecreattime != null">
        recipesTypeCreatTime = #{recipestypecreattime,jdbcType=VARCHAR},
      </if>
      <if test="recipestypename != null">
        recipesTypeName = #{recipestypename,jdbcType=VARCHAR},
      </if>
      <if test="recipestypestate != null">
        recipesTypeState = #{recipestypestate,jdbcType=INTEGER},
      </if>
      <if test="recipsetypeimg != null">
        recipseTypeImg = #{recipsetypeimg,jdbcType=VARCHAR},
      </if>
    </set>
    where recipesTypeId = #{recipestypeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey1" parameterType="com.shensu.pojo.RecipesType">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update RecipesType
    set recipesTypeCreatTime = #{recipestypecreattime,jdbcType=VARCHAR},
      recipesTypeName = #{recipestypename,jdbcType=VARCHAR},
      recipesTypeState = #{recipestypestate,jdbcType=INTEGER},
      recipseTypeImg = #{recipsetypeimg,jdbcType=VARCHAR}
    where recipesTypeId = #{recipestypeid,jdbcType=INTEGER}
  </update>
  
  	<!-- 查询全部食品类目 -->
 	<select id="queryAllRecipesType"  resultMap="BaseResultMap" >
        select * from RecipesType
    </select>
    
    <!-- 添加食品类目 -->
    <insert id="insertSelective" parameterType="com.shensu.pojo.RecipesType">
    insert into RecipesType
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recipestypeid != null">
        recipesTypeId,
      </if>
      <if test="recipestypecreattime != null">
        recipesTypeCreatTime,
      </if>
      <if test="recipestypename != null">
        recipesTypeName,
      </if>
      <if test="recipestypestate != null">
        recipesTypeState,
      </if>
      <if test="recipsetypeimg != null">
        recipseTypeImg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recipestypeid != null">
        #{recipestypeid,jdbcType=INTEGER},
      </if>
      <if test="recipestypecreattime != null">
        #{recipestypecreattime,jdbcType=VARCHAR},
      </if>
      <if test="recipestypename != null">
        #{recipestypename,jdbcType=VARCHAR},
      </if>
      <if test="recipestypestate != null">
        #{recipestypestate,jdbcType=INTEGER},
      </if>
      <if test="recipsetypeimg != null">
        #{recipsetypeimg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <!-- 修改食品类目 -->
    <update id="updateByPrimaryKey" parameterType="com.shensu.pojo.RecipesType">
    update RecipesType
    <set>
      <if test="recipestypecreattime != null">
        recipesTypeCreatTime = #{recipestypecreattime,jdbcType=VARCHAR},
      </if>
      <if test="recipestypename != null">
        recipesTypeName = #{recipestypename,jdbcType=VARCHAR},
      </if>
      <if test="recipestypestate != null">
        recipesTypeState = #{recipestypestate,jdbcType=INTEGER},
      </if>
      <if test="recipsetypeimg != null">
        recipseTypeImg = #{recipsetypeimg,jdbcType=VARCHAR},
      </if>
    </set>
    where recipesTypeId = #{recipestypeid,jdbcType=INTEGER}
  </update>
  	
  	<!-- 删除食谱类目 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from RecipesType
    where recipesTypeId = #{recipestypeid,jdbcType=INTEGER}
  	</delete>  
  	
  <!-- 批量更新下架食谱 -->
	<update id="batchUpdateRecipesType" parameterType="java.util.List">  
	    UPDATE RecipesType SET recipesTypeState = 1 WHERE recipesTypeId IN  
	    <foreach collection="list" item="item" index="index" open="(" separator="," close=")" >  
	        #{item}  
	    </foreach>  
	</update>  
	
	
	 <!-- 查询食谱类目下前四个食谱 上架状态(小程序)-->
  <select id="findRecipes"  resultMap="BaseResultMap1" >
      select * from Recipes 
      where 
      	recipesTypeId=#{recipestypeid,jdbcType=INTEGER} 
      and 
      	recipesTypeState = 1 
      order by 
      	recipesCreatTime desc LIMIT 0,4
    </select>
    
     <!-- 根据食谱id查询食谱轮播图第一张图片(小程序) -->
  <select id="findByRecipesId" resultType="com.shensu.pojo.RecipesSwiper">
  		select * from RecipesSwiper where recipesId = #{recipesid,jdbcType=INTEGER}
  		order by recipesSwiperCreatTime desc LIMIT 0,1
  </select>
  
  
    <resultMap id="BaseResultMap2" type="com.shensu.pojo.RecipesType">
    <id column="recipesTypeId" jdbcType="INTEGER" property="recipestypeid" />
    <result column="recipesTypeCreatTime" jdbcType="VARCHAR" property="recipestypecreattime" />
    <result column="recipesTypeName" jdbcType="VARCHAR" property="recipestypename" />
    <result column="recipesTypeState" jdbcType="INTEGER" property="recipestypestate" />
    <result column="recipseTypeImg" jdbcType="VARCHAR" property="recipsetypeimg" />
    <collection property="recipesList"  ofType="com.shensu.pojo.Recipes" >
    	 <id column="recipesId" property="recipesid" jdbcType="INTEGER" />   
            <result column="recipesTitle" property="recipestitle" jdbcType="VARCHAR" />  
            <result column="recipesImg" property="recipesimg" jdbcType="VARCHAR" />  
            <result column="recipesBrowse" property="recipesbrowse" jdbcType="INTEGER" />  
            <result column="recipesCreatTime" property="recipescreattime" jdbcType="VARCHAR" />  
            <result column="recipesData" property="recipesdata" jdbcType="VARCHAR" />  
    		<result column="recipesStep" property="recipesstep" jdbcType="VARCHAR" />  
            <result column="recipesTypeState" property="recipestypestate" jdbcType="INTEGER" />  
   	</collection>

  </resultMap>
  
   <!-- 单纯食谱类别 -->
  <resultMap id="BaseResultMap3" type="com.shensu.pojo.RecipesType">
    <id column="recipesTypeId" jdbcType="INTEGER" property="recipestypeid" />
    <result column="recipesTypeCreatTime" jdbcType="VARCHAR" property="recipestypecreattime" />
    <result column="recipesTypeName" jdbcType="VARCHAR" property="recipestypename" />
    <result column="recipesTypeState" jdbcType="INTEGER" property="recipestypestate" />
    <result column="recipseTypeImg" jdbcType="VARCHAR" property="recipsetypeimg" />
  </resultMap>
  
   <!-- 查询全部食品类目 -->
 	<select id="queryRecipesType"  resultMap="BaseResultMap3" >
        select * from RecipesType
    </select>
  
  <!-- 查询全部食品类目 -->
 	<select id="queryRecipesTypeIdByName" resultType="Integer" >
        select recipesTypeId from RecipesType where recipesTypeName=#{recipestypename}
    </select>
  
   <!-- 查询到食谱的同时查询到多对应的食谱类目 -->
  <select id="findRecipesByName" resultType="com.shensu.pojo.RecipesType" resultMap="BaseResultMap2">
	 select RecipesType.recipesTypeId,RecipesType.recipesTypeName,Recipes.* from
	 RecipesType join Recipes on 
	 RecipesType.recipesTypeId=Recipes.recipesTypeId 
	 <where>
	 <if test="recipestypename != null">
		RecipesType.recipesTypeName=#{recipestypename}
	</if>
	 <if test="recipestypestate != null">
		and Recipes.recipesTypeState=#{recipestypestate}
	</if>
	 </where>
	 <if test="start != null and size != null">
		LIMIT #{start},#{size}
	 </if>
  </select>
  
	<!-- 根据食谱类别表的类别id从食谱表中查询符合条件的数据总数 -->
  <select id="selectCountByCondition" resultType="Integer">
	  select count(*) from  Recipes
	   <where>
	   <if test="recipestypename != null">
			Recipes.recipesTypeId in (
			select RecipesType.recipesTypeId from RecipesType 
			where RecipesType.recipesTypeName=#{recipestypename}
			)
	   </if>
	   <if test="recipestypestate != null">
			and Recipes.recipesTypeState = #{recipestypestate}
	   </if>
	   </where>
  </select> 
  
<!--   <select id="selectCountByCondition" resultType="Integer">
  select count(*) from 
  RecipesType join Recipes on 
  RecipesType.recipesTypeId=Recipes.recipesTypeId 
   where 1=1
         <if test="recipestypename != null">
	RecipesType.recipesTypeName=#{recipestypename,jdbcType=VARCHAR}
 </if>
  <if test="start != null and size != null">
	LIMIT #{start},#{size}
  </if>
  </select>  --> 
  
 	<!-- 查询全部类目(除了本条之外的) -->
 	<select id="editRecipesTypeXY"  resultMap="BaseResultMap3" >
        select  
			recipesTypeId, 
			recipesTypeCreatTime, 
			recipesTypeName, 
			recipesTypeState, 
			recipseTypeImg 
		from 
			RecipesType r1
		where not exists (
			select 
				r1.recipesTypeId
			from 
				RecipesType r2
			where 
				r1.recipesTypeId=#{recipestypeid,jdbcType=INTEGER} 
		)

    </select>
  
  
</mapper>