<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shensu.dao.RecipesMapper">
  <resultMap id="BaseResultMap" type="com.shensu.pojo.Recipes">
    <id column="recipesId" jdbcType="INTEGER" property="recipesid" />
    <result column="recipesTitle" jdbcType="VARCHAR" property="recipestitle" />
    <result column="recipesImg" jdbcType="VARCHAR" property="recipesimg" />
    <result column="recipesBrowse" jdbcType="INTEGER" property="recipesbrowse" />
    <result column="recipesCreatTime" jdbcType="VARCHAR" property="recipescreattime" />
    <result column="recipesData" jdbcType="VARCHAR" property="recipesdata" />
    <result column="recipesTypeState" jdbcType="INTEGER" property="recipestypestate" />
    <association property="recipesType" column="recipesTypeId" select="findByRecipesTypeId" ></association>
    
    <collection property="recipesSwiper" column="recipesId" javaType="java.util.List"  ofType="com.shensu.pojo.RecipesSwiper" select="findByRecipesId">
    	<id column="recipesSwiperId" jdbcType="INTEGER" property="recipesswiperid"/>
    	<id column="recipesId" jdbcType="INTEGER" property="recipesid"/>
    	<result column="recipesSwiperImg" jdbcType="VARCHAR" property="recipesswiperimg"/>
    	<result column="recipesSwiperCreatTime" jdbcType="VARCHAR" property="recipesswipercreattime"/>
    </collection>
  </resultMap>
  
  <!-- 查询食谱详情页 -->
  <resultMap id="BaseResultMap1" type="com.shensu.pojo.Recipes">
    <id column="recipesId" jdbcType="INTEGER" property="recipesid" />
    <result column="recipesTitle" jdbcType="VARCHAR" property="recipestitle" />
    <result column="recipesImg" jdbcType="VARCHAR" property="recipesimg" />
    <result column="recipesBrowse" jdbcType="INTEGER" property="recipesbrowse" />
    <result column="recipesCreatTime" jdbcType="VARCHAR" property="recipescreattime" />
    <result column="recipesData" jdbcType="VARCHAR" property="recipesdata" />
    <result column="recipesTypeState" jdbcType="INTEGER" property="recipestypestate" />
    <association property="recipesType" column="recipesTypeId" select="findByRecipesTypeId" ></association>
    
    <collection property="recipesSwiper" column="recipesId" javaType="java.util.List"  ofType="com.shensu.pojo.RecipesSwiper" select="findRecipesImg">
    	<id column="recipesSwiperId" jdbcType="INTEGER" property="recipesswiperid"/>
    	<id column="recipesId" jdbcType="INTEGER" property="recipesid"/>
    	<result column="recipesSwiperImg" jdbcType="VARCHAR" property="recipesswiperimg"/>
    	<result column="recipesSwiperCreatTime" jdbcType="VARCHAR" property="recipesswipercreattime"/>
    </collection>
  </resultMap>
  
  
  
  <resultMap extends="BaseResultMap1" id="ResultMapWithBLOBs" type="com.shensu.pojo.Recipes">
    <!--
      WARNING - @mbggenerated
      
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <result column="recipesStep" jdbcType="LONGVARCHAR" property="recipesstep" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    recipesId, recipesTitle, recipesImg, recipesBrowse, recipesCreatTime, recipesTypeId, 
    recipesData, recipesTypeState
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    recipesStep
  </sql>
  
  <select id="findByRecipesTypeId" resultType="com.shensu.pojo.RecipesType">
  	select * from RecipesType where  recipesTypeId=#{recipesTypeId}
  </select>
  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from Recipes
    where recipesId = #{recipesid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from Recipes
    where recipesId = #{recipesid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="recipesid">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into Recipes (recipesId, recipesTitle, recipesImg, 
      recipesBrowse, recipesCreatTime, recipesTypeId, 
      recipesData, recipesStep, recipesTypeState)
    values (#{recipesid,jdbcType=INTEGER}, #{recipestitle,jdbcType=VARCHAR}, #{recipesimg,jdbcType=VARCHAR}, 
      #{recipesbrowse,jdbcType=INTEGER}, #{recipescreattime,jdbcType=VARCHAR}, #{recipestypeid,jdbcType=INTEGER}, 
      #{recipesdata,jdbcType=VARCHAR}, #{recipesstep,jdbcType=LONGVARCHAR}, #{recipestypestate,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.shensu.pojo.Recipes">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into Recipes
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recipesid != null">
        recipesId,
      </if>
      <if test="recipestitle != null">
        recipesTitle,
      </if>
      <if test="recipesimg != null">
        recipesImg,
      </if>
      <if test="recipesbrowse != null">
        recipesBrowse,
      </if>
      <if test="recipescreattime != null">
        recipesCreatTime,
      </if>
      <if test="recipestypeid != null">
        recipesTypeId,
      </if>
      <if test="recipesdata != null">
        recipesData,
      </if>
      <if test="recipesstep != null">
        recipesStep,
      </if>
      <if test="recipestypestate != null">
      	recipesTypeState,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recipesid != null">
        #{recipesid,jdbcType=INTEGER},
      </if>
      <if test="recipestitle != null">
        #{recipestitle,jdbcType=VARCHAR},
      </if>
      <if test="recipesimg != null">
        #{recipesimg,jdbcType=VARCHAR},
      </if>
      <if test="recipesbrowse != null">
        #{recipesbrowse,jdbcType=INTEGER},
      </if>
      <if test="recipescreattime != null">
        #{recipescreattime,jdbcType=VARCHAR},
      </if>
      <if test="recipestypeid != null">
        #{recipestypeid,jdbcType=INTEGER},
      </if>
      <if test="recipesdata != null">
        #{recipesdata,jdbcType=VARCHAR},
      </if>
      <if test="recipesstep != null">
        #{recipesstep,jdbcType=LONGVARCHAR},
      </if>
      <if test="recipestypestate != null">
      	#{recipestypestate,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.shensu.pojo.Recipes">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update Recipes
    <set>
      <if test="recipestitle != null">
        recipesTitle = #{recipestitle,jdbcType=VARCHAR},
      </if>
      <if test="recipesimg != null">
        recipesImg = #{recipesimg,jdbcType=VARCHAR},
      </if>
      <if test="recipesbrowse != null">
        recipesBrowse = #{recipesbrowse,jdbcType=INTEGER},
      </if>
      <if test="recipescreattime != null">
        recipesCreatTime = #{recipescreattime,jdbcType=VARCHAR},
      </if>
      <if test="recipestypeid != null">
        recipesTypeId = #{recipestypeid,jdbcType=INTEGER},
      </if>
      <if test="recipesdata != null">
        recipesData = #{recipesdata,jdbcType=VARCHAR},
      </if>
      <if test="recipesstep != null">
        recipesStep = #{recipesstep,jdbcType=LONGVARCHAR},
      </if>
      <if test="recipestypestate != null">
      	recipesTypeState = #{recipestypestate,jdbcType=INTEGER},
      </if>
    </set>
    where recipesId = #{recipesid,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.shensu.pojo.Recipes">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update Recipes
    set recipesTitle = #{recipestitle,jdbcType=VARCHAR},
      recipesImg = #{recipesimg,jdbcType=VARCHAR},
      recipesBrowse = #{recipesbrowse,jdbcType=INTEGER},
      recipesCreatTime = #{recipescreattime,jdbcType=VARCHAR},
      recipesTypeId = #{recipestypeid,jdbcType=INTEGER},
      recipesData = #{recipesdata,jdbcType=VARCHAR},
      recipesStep = #{recipesstep,jdbcType=LONGVARCHAR},
      recipesTypeState = #{recipestypestate,jdbcType=INTEGER}
    where recipesId = #{recipesid,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey1" parameterType="com.shensu.pojo.Recipes">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update Recipes
    set recipesTitle = #{recipestitle,jdbcType=VARCHAR},
      recipesImg = #{recipesimg,jdbcType=VARCHAR},
      recipesBrowse = #{recipesbrowse,jdbcType=INTEGER},
      recipesCreatTime = #{recipescreattime,jdbcType=VARCHAR},
      recipesTypeId = #{recipestypeid,jdbcType=INTEGER},
      recipesData = #{recipesdata,jdbcType=VARCHAR},
      recipesTypeState = #{recipestypestate,jdbcType=INTEGER}
    where recipesId = #{recipesid,jdbcType=INTEGER}
  </update>
  
  <select id="queryAllRecipes"  resultMap="BaseResultMap" >
     select 
     <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from Recipes
    </select>
  
  <!-- 根据条件分页查询 -->
  <select id="selectByCondition" resultMap="BaseResultMap">
       
		select * from Recipes where 1=1

		<if test="recipesTitle!=null">
			and recipesTitle=#{recipesTitle}
		</if>
		
		<if test="recipesId!=null">
			and recipesId=#{recipesId}
		</if>
		
		<if test="recipestate!=null">
			and recipesTypeState=#{recipestate}
		</if>
		
		<if test="recipestypeId!=null">
			and recipesTypeId=#{recipestypeId}
		</if>

		order by recipesCreatTime desc
		<if test="start!=null and size!=null">
			LIMIT #{start},#{size}
		</if>
	
  </select>
  
  <!-- 根据条件查询总数 -->
  
  <select id="selectCountByCondition" resultType="integer">
      select count(*) from Recipes where 1=1
        
        <if test="recipesTitle!=null">
			and recipesTitle=#{recipesTitle}
		</if>
		
		<if test="recipesId!=null">
			and recipesId=#{recipesId}
		</if>
		
		<if test="recipestate!=null">
			and recipesTypeState=#{recipestate}
		</if>
		
		<if test="recipestypeId!=null">
			and recipesTypeId=#{recipestypeId}
		</if>
		
		<if test="start!=null and size!=null">
			LIMIT #{start},#{size}
		</if>
  </select>
  
  <!-- 添加一个食譜 -->
  <insert id="insertRecipes" >
      insert into Recipes
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recipesid != null">
        recipesId,
      </if>
      <if test="recipestitle != null">
        recipesTitle,
      </if>
      <if test="recipesimg != null">
        recipesImg,
      </if>
      <if test="recipesbrowse != null">
        recipesBrowse,
      </if>
      <if test="recipescreatime != null">
        recipesCreatTime,
      </if>
      <if test="recipestypeid != null">
        recipesTypeId,
      </if>
      <if test="recipesdata != null">
        recipesData,
      </if>
      <if test="recipesstep != null">
        recipesStep,
      </if>
      <if test="recipestypestate != null">
      	recipesTypeState,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recipesid != null">
        #{recipesid,jdbcType=INTEGER},
      </if>
      <if test="recipestitle != null">
        #{recipestitle,jdbcType=VARCHAR},
      </if>
      <if test="recipesimg != null">
        #{recipesimg,jdbcType=VARCHAR},
      </if>
      <if test="recipesbrowser != null">
        #{recipesbrowser,jdbcType=INTEGER},
      </if>
      <if test="recipescreateTime != null">
        #{reipescreatetime,jdbcType=VARCHAR},
      </if>
      <if test="recipestypeid != null">
        #{recipestypeid,jdbcType=INTEGER},
      </if>
      <if test="recipesdata != null">
        #{recipesdata,jdbcType=VARCHAR},
      </if>
      <if test="recipesstep != null">
        #{recipesstep,jdbcType=VARCHAR},
      </if>
      <if test="recipestypestate != null">
      	#{recipestypestate,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <!-- 设置食谱为上架状态 -->
  <update id="putawayRecipes" parameterType="com.shensu.pojo.Recipes">

    update 
    	Recipes
    set 
    	recipesTypeState = 1
    where 
    	recipesId = #{recipesid,jdbcType=INTEGER}
  </update>
  
  <!-- 设置食谱为下架状态 -->
  <update id="unshelveRecipes" parameterType="com.shensu.pojo.Recipes">

    update 
    	Recipes
    set 
    	recipesTypeState = 0
    where 
    	recipesId = #{recipesid,jdbcType=INTEGER}
  </update>
  
  <!-- 查询食谱类目下前四个食谱 上架状态(小程序)-->
  <select id="findRecipesSwiperList"  resultMap="BaseResultMap" >
      select * from Recipes 
      where 
      	recipesTypeId=#{recipestypeid,jdbcType=INTEGER} 
      and 
      	recipesTypeState = 1 
      order by 
      	recipesCreatTime desc LIMIT 0,4
    </select>
    
  <!-- 根据食谱id查询食谱轮播图第一张图片(小程序) -->
  <select id="findByRecipesId" resultType="com.shensu.pojo.RecipesSwiper">
  		select recipesSwiperImg from RecipesSwiper where recipesId = #{recipesid,jdbcType=INTEGER}
  		order by recipesSwiperCreatTime desc LIMIT 0,1
  </select>
  
  <!-- 查询食谱下面的详细信息(小程序) -->
  <select id="findRecipesDetails" resultMap="BaseResultMap1">
  		select * from Recipes where recipesId = #{recipesid,jdbcType=INTEGER} <!--  and recipesTypeState = 1 -->
  </select>
  
  <!-- 根据食谱id查询食谱轮播图全部图片(小程序) -->
  <select id="findRecipesImg" resultType="com.shensu.pojo.RecipesSwiper">
  		select * from RecipesSwiper where recipesId = #{recipesid,jdbcType=INTEGER}
  </select>
  
  <!-- 根据类目id查询对应的上架状态食谱全部列表(小程序) -->
  <select id="findRecipesList"  resultMap="BaseResultMap" >
      select * from Recipes
      where 
      	recipesTypeId=#{recipestypeid,jdbcType=INTEGER} 
      and 
      	recipesTypeState = 1
      order by 
      	recipesCreatTime desc
  </select>
    
  <!-- 增加食谱文章阅读量 -->  
  <update id="addrecipesBrowse" parameterType="com.shensu.pojo.Recipes">
    update 
    	Recipes
    set 
    	recipesBrowse = recipesBrowse + 1
    where 
    	recipesId = #{recipesid,jdbcType=INTEGER}
  </update>
  <!-- 查询分类下id的所有食谱的走总计 -->
    <select id="selectCountRecipes" resultType="integer">
      select count(recipesId) from Recipes where recipesTypeId=#{recipestypeid,jdbcType=INTEGER} and recipesTypeState = 1		
  </select>
  
  <!--根据分类id分页查询食谱  -->
    <select id="selectRecipesPage" resultMap="BaseResultMap">
      select * from Recipes where recipesTypeId=#{recipesTypeId} and recipesTypeState = 1 order by 
      	recipesCreatTime desc
		<if test="start!=null and size!=null">
			LIMIT #{start},#{size}
		</if>
  </select>
  
</mapper>